@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 600px;
    height: 450px;
    background-color: gray;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}


.left {
    background-color: black;
    width: 50%;
    height: 100%;
}

.left .product-img {
    width: 100%;
}

.right {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    height: 100%;
    padding: 30px;
}

span.category {
    letter-spacing: 4px;
    color: gray;
    font-size: 14px;
    font-weight: 500;
}

h1 {
    font-family: 'Fraunces', serif;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 30px;
}

p.description {
    font-weight: 500;
    color: gray;
    margin-top: 15px;
    margin-bottom: 15px;
}

.price-wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.price-wrapper span.price {
    font-size: 30px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    margin-right: 10px;
}

.price-wrapper span.old-price {
    color: gray;
    margin-left: 10px;
    font-size: 15px;
    text-decoration: line-through;
}

button.cart-button img.cart-img {
    margin-right: 5px;
}

button.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: hsl(158, 36%, 37%);
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    width: 100%;
    border-radius: 10px;
    margin-top: 35px;
    font-size: 15px;
    cursor: pointer;
}